
.column_div{
  text-align: right;
  margin-top: 2vh;
  margin-left: 10%;
  column-count: 1;
  column-width: 400px;
}
.stat{
  font-weight:100;
  padding: 0 0 50px 0;
  font-size: 2em;
  font-family: "VT323", sans-serif;
}
