
#temp {
  display: inline-block;
  font-size: 120%;
  padding: .3px;
  word-wrap: break-word;
  max-width:700px;
  line-height: 28px;

}

#space {
  width:7px;
  display: inline-block;
    line-height: 28px;

}