* {
  line-height: 100%;
}

.Home {
  font-family: "VT323", sans-serif;
}

.Home__header {
  margin-top: 20%;
  margin-bottom: 75px;
  text-align: center;
  font-size: 10em;
  color: white;
}

.Home__sub_header {
  text-align: center;
  font-size: 4em;
  color: white;
  margin-bottom: 32px;
}

.Home__form {
  text-align: center;
  padding: 5px;
}

.Home__search-wrapper {
  display: block;
}

#Home__ytlink {
  border-radius: 2px;
  padding-left: 20px;
  height: 20px;
  outline: none;
  width: 500px;
  margin-bottom: 32px;
}

#Home__submitButton {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1em;
  padding: 0px;
  width: 150px;
  height: 40px;
  color: black;
  font-family: "VT323", sans-serif;
}

.Home__submitButtonWrapper {
  position: relative;
  height: 200px;
}