* {
  font-family: "VT323", sans-serif;
  line-height: 100%;
}

.Home__header {
  text-align: center;
  font-size: 8em;
}

.Home__sub_header {
  text-align: center;
  font-size: 4em;
}

.Home__form {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px;
}

#Home__ytlink {
  border-radius: 2px;
  padding-left: 20px;
  height: 20px;
  outline: none;
}

.Home__submitButtonWrapper {
  position: relative;
    height: 200px;
}

#Home__submitButton {
  font-size: 2em;
  text-transform:uppercase;
  letter-spacing:.1em;
  line-height: 1em;
  padding: 0px;
  width: 150px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 40px;
  color: black;
}
