.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [col-start] 1fr);
  height:100%;
}

.video__wrapper {
  grid-column: 4 / 10;
  grid-row: 1/7;
  margin: 12px;

}
.caption__wrapper {
  width: 100%;
  grid-column: 5 / 10 ;
  grid-row: 7/9;
}
.keyboard__wrapper {
  grid-column: col-start 3 / 11;
  grid-row: 10/13;
  margin-top: -16px;
}
.statistics__wrapper {
  grid-column: col-start 10 / 14;
  grid-row: 1/7;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
