.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [col-start] 1fr);
  height:100%;
}

.video__wrapper {
  grid-column: 4 / 10;
  grid-row: 1/7;
  margin: 12px;

}
.caption__wrapper {
  width: 100%;
  grid-column: 4 / 10 ;
    grid-row: 7/9;
}
.keyboard__wrapper {
  grid-column: col-start 3 / 11;
  grid-row: 10/13;
  margin-top: -16px;
}
.statistics__wrapper {
  grid-column: col-start 11 / 14;
  grid-row: 1/7;
  background-color: green;
}
